<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


<body>
<p>Here is an example of filling out an entry:</p>
<div ng-app="myApp" ng-controller="myCtrl">
    <form ng-submit="myFunc()">
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        Student ID: <input type="text" ng-model="studentID"><br>
        Item: <input type="text" ng-model="item"><br>
        QRL Code: <input type="text" ng-model="qrlCode"><br>
        Check out time: <input type="text" ng-model="checkOutTime"><br>
        <input type="submit">
        <p>{{myTxt}}</p>

    </form>
    <h1>First Name: {{firstName}}</h1>
    <h1>Last Name: {{lastName}}</h1>
    <h1>Student ID: {{studentID}}</h1>
    <h1>Item: {{item}}</h1>
    <h1>QRL Code: {{qrlCode}}</h1>
    <h1>Check out time: {{checkOutTime}}</h1>

</div>
<script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope) {
        $scope.myTxt = "Please enter all fields";
        $scope.myFunc = function () {
            $scope.myTxt = "You clicked submit!";
        }
    });
</script>

</body>
</html>
